<html>
    <head>
        <title>Auth Demo</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">    
    </head>
    
    <body>
            <div class="ui inverted menu">
                <div class="ui container">
                    <div class="header item">Auth Demo</div>
                        <a href="/" class="item">Home</a>
                        <div class="right menu"></div>
                        <div class="item">
                            <a href="/login" class="ui inverted button">Login</a>
                        </div>
                        <div class="item">
                            <a href="/logout" class="ui inverted button">Logout</a>
                        </div>
                        <div class="item">
                            <a href="/register" class="ui inverted button">Sign up!</a>
                        </div>
                </div>
            </div>
