<% include ./partials/header %>

<div class="ui center aligned container">
<h2 class="ui center aligned icon header">
  <i class="circular lock icon"></i>
  Auth_DEMO
</h2>
<p>
Demo using passport local for user authorization
</p>
<div class="ui header inverted item">
    <a href="/secret" class="ui button">Click Me</a>
</div>
</div>
 

<% include ./partials/footer %>